#s-e7310499-e5e3-4bca-bd65-18356b69534f > #backgroundBox {
  position: absolute;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f > #alignmentBox {
  position: relative;
  max-width: 448.0px;
  max-height: 997.0px;
  width: 100%;
  height: 100%;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 {
  position: absolute;
  width: 447.99999999999955px;
  min-height: 144.21738755210697px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Path_1 {
  position: absolute;
  width: 47.0px;
  height: 42.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 {
  position: absolute;
  width: 447.9999999999993px;
  height: 428.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 tr.odd {
  background-color: #FFFFFF;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 tr.even {
  background-color: #FFFFFF;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Header_1 {
  background-color: #FFFFFF;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 {
  width: 148.6666666666664px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_1 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 {
  width: 148.6666666666664px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 {
  width: 149.99999999999932px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 {
  width: 148.6666666666664px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_4 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 {
  width: 148.6666666666664px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 {
  width: 149.99999999999932px;
  height: 106.5px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Date_1 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Date_1 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Date_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  min-height: 10.5pt;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Date_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Data_list_1 .s-Date_1 .icon {
  top: 2.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 {
  position: absolute;
  width: 129.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 > .borderLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-transform: none;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7310499-e5e3-4bca-bd65-18356b69534f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}